<form method="post" action="/articles">
    <label for="title">Article Title</label><br>
    <input id="title" name="title" type="text"><br>

    <label for="content">Article Content</label><br>
    <input id="content" name="content" type="text"><br>

    <input type="submit" value="submit">


</form>